<div class="person1">
<span class="pic"><img src="{{ person1.pic }}" class="img-responsive img-circle" alt=""></span>
<span class="name"><h2>{{ person1.name }}</h2></span>
<span class="title"><h3>{{ person1.title }}</h3></span>
<span class="college"><p class="text-muted">{{ person1.college }}<p></span>
<span class="links"><ul class="list-inline social-buttons"><li>
{{ person1.links}} </li></ul>
</span>
</div>

<div class="person">
<span class="pic"><img src="{{ person1.pic }}" class="img-responsive img-circle" alt=""></span>
<span class="name"><h2>{{ person1.name }}</h2></span>
<span class="college"><p class="text-muted">{{ person1.college }}<p></span>
  <span class="links"><ul class="list-inline social-buttons"><li>
  {{ person1.links}} </li></ul>
  </span>
</div>
